@import "./colors.scss";
@import "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.page {
  display: flex;
  padding: 25px;
}
