.thumbnail {
  width: 250px;
  margin-right: 25px;
  cursor: pointer;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    opacity: 0.8;
  }
}
.thumbnail_s {
  width: 150px;
  margin-right: 5px;
}
